// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.background {
    background: #00f260;
    background: -webkit-linear-gradient(to bottom, #00f260, #0575e6);
    background: linear-gradient(to bottom, #00f260, #0575e6);
}

.full-width {
    width:100%;
}

.full-height {
    height:100%;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.active-navbar-tab {
    color: red;
}

.inactive-navbar-tab {
    color: blue;
}

.square-34 {
    height: 34px;
    width: 34px;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.menu-profile-image {
    background: inherit;
    top: 50%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10% 13%;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.toolbar-title-ios {
    font-size: 1.5em !important;
}

.menu-inner {
    width: 210px;
}