page-products {
    .searchInputAddOn {
        height: 45px;
        width: 45px;
        font-size: 2em;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid black;
        border-left: none;
        border-radius: 0px 10px 10px 0px;
        background-color: lightgray;
    }

    .text-input-ios {
        font-size: 1.5em;
        margin: 10px 4px;
    }
    
    .product-table-text-padding {
        padding-top: 15px;
    }
}
