<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button menuToggle style="width:34px;height:34px;background-color:transparent;">
        <ion-icon name="menu" style="font-size: 2.2em;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
    <ion-buttons end>
      <button ios-more style="width:34px;height:34px;background-color:transparent;" (tap)="presentPopover($event)">
        <ion-icon name="ios-more" style="font-size: 2.2em;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row style="height: 100%">

    <ion-col col-7>
      <div>

        <h2>
          Categories
        </h2>

        <div class="full-width" style="height: 120px;overflow: -webkit-paged-x;display: inline-flex;">
          <button ion-button outline *ngFor="let product of products | async" style="width: 175px;display: inline-flex;" (click)="openPage(ordersPage)">
            <span class="">Category</span>
          </button>
        </div>

      </div>

      <hr>

      <div style="height: 75%">

        <h2>
          Products
        </h2>

        <hr>

        <div class="full-height" style="overflow: scroll;overflow-x: hidden;">
          <ion-row>
            <ion-col col-3 *ngFor="let product of products | async">
              <button ion-button outline class="dashboard-button" (click)="addToOrder(product)" style="width:100%">
                <span class="dashboard-button-text">{{product.ProductCode}}</span>
                <br/>
                <span class="dashboard-button-text">{{product.ProductName}}</span>
              </button>
            </ion-col>
          </ion-row>
        </div>
      </div>

    </ion-col>

    <!-- Order Reciept -->
    <ion-col col-5>
      <div style="width:100%;height:70%;border: 1px solid black">
        <div style="height:6%;border-bottom:1px black solid">
            <h3 style="text-align: center;padding-top: 6px;">Orders List</h3>
        </div>
        <ion-list style="overflow-y: scroll;height: 88%;margin: 0px;">
          <ion-item *ngFor="let product of currentOrderList.Products">

            <ion-row>

              <ion-col col-7>
                <span style="display: inline-flex">{{product.ProductCode}}</span>
              </ion-col>

              <ion-col col-4>
                <span style="display: inline-flex">{{product.Quantity}}</span>
              </ion-col>

              <ion-col col-1>
                <span style="display: inline-flex"></span>
              </ion-col>

              <ion-col col-7>
                <span style="display: inline-flex">{{product.ProductName}}</span>
              </ion-col>

              <ion-col col-4>
                <span style="display: inline-flex">{{product.Price | currency:'£'}}</span>
              </ion-col>

              <ion-col col-1>
                <ion-buttons end style="display: inline-flex;width: 10%">
                  <button ios-close style="width:100%;background-color:transparent;" (tap)="presentPopover($event)">
                    <ion-icon name="ios-close" style=""></ion-icon>
                  </button>
                </ion-buttons>
              </ion-col>

            </ion-row>

          </ion-item>
        </ion-list>
        <div style="height:6%;border-top:1px black solid">
          <ion-row>
            <ion-col col-8>
              <h3>{{totalItems ? totalItems : 0}} Items</h3>
            </ion-col>
            <ion-col col-4>
              <h3>{{totalPrice ? (totalPrice | currency:'£') : (0.00 | currency:'£')}}</h3>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <ion-row>
        <ion-col col-6>
          <button ion-button outline class="" style="width:100%" (click)="openPage(ordersPage)">
            <span class="dashboard-button-text">Clear Last</span>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button outline class="" style="width:100%" (click)="clearAll()">
            <span class="dashboard-button-text">Clear All</span>
          </button>
        </ion-col>
        <ion-col col-12>
          <button ion-button outline class="" style="width:100%" (click)="openPage(ordersPage)">
            <span class="dashboard-button-text">Add Discount</span>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button outline class="dashboard-button" (click)="completeOrder()">
            <span class="dashboard-button-text">Refund</span>
            <ion-icon name="ios-check" class="dashboard-button-icon"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button outline class="dashboard-button" (click)="completeOrder()">
            <span class="dashboard-button-text">Complete</span>
            <ion-icon name="ios-check" class="dashboard-button-icon"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


</ion-content>